.index {
  padding: 1.6rem 1rem;
  background: #fff;
  .create-entry {
    .section-title {
      font-size: 2.5rem;
      font-weight: 600;
    }
    .index-header {
      .card {
        padding: 0 0 3rem 0;
        .card-header {
          display: flex;
          align-items: center;
          .title {
            font-size: 1.6rem;
            margin: 0;
          }
        }
        .card-content {
          margin: 1rem 0 3rem 0;
          color: rgba(0, 0, 0, 0.4);
          text-align: center;
        }
        .card-img {
          position: absolute;
          bottom: 0;
          right: 0;
        }
      }
    }
  }
  .application-list {
    margin: 8rem 0;
    .section-title {
      font-size: 2.5rem;
      font-weight: 600;
    }
  }
}
