.fr-generator-container {
  .left-layout {
    width: 28rem;
    .left-item {
      width: 12rem;
      height: 4.4rem;
      line-height: 4.4rem;
      text-align: center;
      padding: 0 15px;
      font-size: 14px;
      border-radius: 4px;
      position: relative;
      display: inline-block;
      font-weight: 400;
      white-space: nowrap;
    }
  }
  .right-layout {
    width: 28rem;
    .ant-tabs {
      overflow-y: scroll;
    }
  }
}

.app-content-container {
  padding: 5rem;
  display: flex;
  justify-content: center;
  background: #fff;
  height: 100%;
  .content {
    max-width: 80rem;
    border: 1px solid lightgray;
    border-radius: 3rem;
    padding: 5rem;
    .app-title {
      text-align: center;
      font-size: 2rem;
    }
    .submit {
      left: 50%;
      transform: translateX(-50%);
      margin-top: 2rem;
    }
  }
}
