.fr-generator-container {
  .left-layout {
    width: 20%;
    .left-item {
      width: 12rem;
      height: 4.4rem;
      line-height: 4.4rem;
      text-align: center;
      padding: 0 15px;
      font-size: 14px;
      border-radius: 4px;
      position: relative;
      display: inline-block;
      font-weight: 400;
      white-space: nowrap;
    }
  }
  .right-layout {
    width: 25%;
    .ant-tabs {
      overflow-y: scroll;
    }
  }
}

.app-content-container {
  padding: 5rem;
}
